[Unit]
Description=poolmanager
After=network.target

[Service]
WorkingDirectory=/home/poolapi
ExecStart=/usr/bin/node /home/poolapi/poolmanager/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target