[Unit]
Description=TeamB_Pool_Project_API
After=network.target

[Service]
WorkingDirectory=/home/poolapi
ExecStart=/usr/bin/node /home/poolapi/TeamB_Pool_Project_API/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target